<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список тем в історії України</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .theme-item {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 class="text-center my-4">Список тем в історії України</h2>
  <div class="row">
    <% themes.forEach(theme => { %>
      <div class="col-md-4 mb-4">
        <div class="card theme-item">
          <div class="card-body">
            <h5 class="card-title"><%= theme.title %></h5>
            <p class="card-text"><%= theme.description %></p>
            <p><%= theme.event %></p>
            <a class="btn btn-primary mt-auto" href="/events/by-theme/<%= theme._id %>">Переглянути події</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
